# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
android/app/production/release/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols
**/dgph

# CI/CD
secrets/


# Obfuscation related
app.*.map.json

android/app/release/app-release.aab
applicationDocumentsPath
ios/build/Pods.build/Release-iphonesimulator
.env
lib/environment_config.dart
devtools_options.yaml
 
ios/build/ios/Pods.build/
assets/mock_json/
lib/utils/misc/staging_updated_string.dart
app_keys/
app_store_screenshots/
android/production/release/
android/key/
