# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
lib/widgets/settings_drawer copy.dart
lib/misc/test_page.dart
lib/misc/weekly_forecast_controller.dart
lib/misc/test_page.dart
lib/core/network/sentry_path.dart
lib/misc
lib/core/network/api_keys.dart
android/app/release/app-release.aab
applicationDocumentsPath
ios/build/Pods.build/Release-iphonesimulator
lib/objectbox.g.dart
.env
thunder-tests/thunderActivity.json
thunder-tests/thunderclient.json
thunder-tests/thunderCollection.json
thunder-tests/thunderEnvironment.json
lib/environment_config.dart
pubspec.lock
