# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols
**/dgph

# Obfuscation related
app.*.map.json
lib/widgets/settings_drawer copy.dart
lib/core/network/sentry_path.dart
lib/misc
lib/core/network/api_keys.dart
android/app/release/app-release.aab
applicationDocumentsPath
ios/build/Pods.build/Release-iphonesimulator
.env
thunder-tests/thunderActivity.json
thunder-tests/thunderclient.json
thunder-tests/thunderCollection.json
thunder-tests/thunderEnvironment.json
lib/environment_config.dart
pubspec.lock
lib/features/bg_image/models/image_list_model.freezed.dart
lib/features/bg_image/bloc/bg_image_state.g.dart
lib/features/main_weather/models/local_weather_button_model.g.dart
lib/features/bg_image/models/weather_image_model.freezed.dart
lib/features/bg_image/models/weather_image_model.g.dart
lib/features/bg_image/bloc/bg_image_state.freezed.dart
lib/features/bg_image/bloc/bg_image_state.g.dart
lib/features/main_weather/models/local_weather_button_model.g.dart
lib/features/bg_image/bloc/bg_image_state.freezed.dart
lib/features/bg_image/bloc/bg_image_state.g.dart
lib/features/main_weather/models/local_weather_button_model.g.dart
lib/services/app_updates/bloc/app_update_state.freezed.dart
lib/services/app_updates/bloc/app_update_state.g.dart
ios/build/ios/Pods.build/Release-iphonesimulator/flutter_keyboard_visibility.build/dgph~
lib/features/banner_ads/bloc/ad_bloc.freezed.dart
lib/features/banner_ads/bloc/ad_bloc.g.dart
lib/features/location/bloc/location_state.freezed.dart
lib/features/location/bloc/location_state.g.dart
lib/features/location/user_location/models/location_model.freezed.dart
lib/features/location/user_location/models/location_model.g.dart
app_store_screenshots/
